.card-grid {
  max-width: 1335px;
  margin: 0 auto;
}

.card-grid .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.card-grid .row>.item {
  flex-basis: 25%;
  -ms-flex: auto;
  width: 24%;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media(max-width: 1333px) {
  .card-grid .row>.item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
  .card-grid .row>.item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .card-grid .row>.item {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .card-grid .row>.item {
    flex-basis: 100%;
  }
}