.card-grid {
  max-width: 1335px;
  margin: 0 auto;
  padding: 10px;
}

.card-grid .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

@media(max-width: 1333px) {
  .card-grid .row>.item {
    flex-basis: 30%;
  }
}

@media(max-width: 1073px) {
  .card-grid .row>.item {
    flex-basis: 45%;
  }
}

@media(max-width: 815px) {
  .card-grid .row>.item {
    flex-basis: 100%;
  }
}

@media(max-width: 555px) {
  .card-grid .row>.item {
    flex-basis: 100%;
  }
}